docker run \
  -v /run/user/1000/pulse/native:/run/user/1000/pulse/native \
  -e PULSE_SERVER=unix:/run/user/1000/pulse/native \
  -p 127.0.0.1:3000:3000 \
  -e ENDPOINT='https://blue-assistant-btxl.works/api/v1/speechLogs?text=' \
  -it \
  373da9934f7e
